body{
    --bs-body-bg: #0D2B45;
    padding: 0;
    margin: 0;
    transform: scale(1.3);
}

.row{
    top: 50%;   
    transform:  translateY(40%);
}

.main_content{
    width: 710px;
    position: absolute;
    
    background-color: #FFD4A3;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.733);
    color: #0D2B45;
}

.text_editor{
    padding: 0%;
}

.setings{
    width: 400px;
    min-height: 500px;
    background-color: #D08159;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    padding: 30px;
}

.setings button{
    margin: 15px;
    border: none;
    border-radius: 3px;
    padding: 8px;
}


.text_editor_header{
    background-color: #D08159;
    padding: 10px;
    width: 100%;
}

.text_editor_header .btn{
    border: none;
    outline: none;
    background-color: transparent;
    margin-right: 5px;
    color: #222222;
    cursor: pointer;
}

.text_editor_botton{
    border-top: 1px solid #00000046;
}

.text_editor_botton span{
    border-right: 1px solid #00000046;
    margin: 5px;
    padding-right: 10px;
    color: rgba(0, 0, 0, 0.672);
}

.content{
    
    min-height: 300px;
    border: none;
    padding: 5px;
    margin: 0px;

}